<section>
  <div class="trusted-business">
    <div class="trust-business-container">
      <div class="trusted-business-text">
        <p class="text-h1 roboto-bold">Trusted by 200,000+ businesses</p>
        <p class="text-h3 roboto-regular">
          Thousands of organizations of all sizes trust Paystack to grow their
          business.
        </p>
      </div>

      <div class="cards">
        <!-- Container 1-->
        <div class="card-1">
          <div class="card-1-subcontainer">
            <img
              class="identity"
              src="assets/Icons/global-business.svg"
              alt=""
            />
            <div class="card-1-text">
              <p class="card-h2 roboto-bold">Paystack for Global Brands</p>
              <p class="card-h4 roboto-regular">
                We help global brands accept payments from across Africa
              </p>
            </div>
            <div class="card-cta">
              <img src="assets/Icons/caret.svg" alt="" />
              <p class="roboto-medium"><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>

        <!-- Container 2-->
        <div class="card-1">
          <div class="card-1-subcontainer">
            <img
              class="identity identity-entrepreneur"
              src="assets/Icons/entrepreneur.svg"
              alt=""
            />
            <div class="card-1-text">
              <p class="card-h2 roboto-bold">Paystack for Entrepreneurs</p>
              <p class="card-h4 roboto-regular">
                From startup to scale-up, we can support you at every stage of
                your businesses&apos; growth
              </p>
            </div>
            <div class="card-cta">
              <img src="assets/Icons/caret.svg" alt="" />
              <p class="roboto-medium"><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>

        <!-- Container 3-->
        <div class="card-1">
          <div class="card-1-subcontainer">
            <img class="identity" src="assets/Icons/corporations.svg" alt="" />
            <div class="card-1-text">
              <p class="card-h2 roboto-bold"> Paystack for Large Organizations</p>
              <p class="card-h4 roboto-regular">
                Paystack helps many of the largest corporate and government
                organizations in Nigeria get paid quickly and securely.
              </p>
            </div>
            <div class="card-cta">
              <img src="assets/Icons/caret.svg" alt="" />
              <p class="roboto-medium"><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
