<header>
  <div class="header-left">
    <div class="logo-container">
      <img src="assets/Icons/paystack-logo.svg" alt="" />
    </div>
    <div class="header-left-items">
      <p class="roboto-medium"><a href="#">Why Paystack</a></p>
      <img src="assets/Icons/dash.png" alt="" />
      <p class="roboto-medium"><a href="#">Learn</a></p>
      <p class="roboto-medium"><a href="#">Pricing</a></p>
      <p class="roboto-medium"><a href="#">Customers</a></p>
      <img src="assets/Icons/dash.png" alt="" />
    </div>
  </div>

  <div class="header-right">
    <p class="roboto-medium"><a href="#">Developer</a></p>
    <img src="assets/Icons/dash.png" alt="" />
    <p class="roboto-medium"><a href="#">Support</a></p>
    <img src="assets/Icons/dash.png" alt="" />
    <p class="roboto-medium"><a href="#">Login</a></p>
    <button type="button" class="create-btn">Create free account</button>
    <img src="assets/Icons/NG-flag.png" alt="" />
  </div>
</header>
