@import "src/styles.scss";

section {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  background-color: $background-color;
  width: 100%;
  height: 80vh;
  // height: calc(100vh - 80px);

  .sub-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 9rem;
    padding-top: 3rem;

    .content {
      flex: 1;
      gap: 1rem;
      .hero-text {
        font-size: 3rem;
        line-height: 3.5rem;
      }
      .hero-subtext {
        font-size: 1.25rem;
        line-height: 1.87rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }

      .cta {
        .btn-create {
          background-color: $secondary-color;
          color: white;
          border: none;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          padding: 1rem;
          border-radius: 0.4rem;
          cursor: pointer;
          margin-right: 0.75rem;
        }

        .sales {
          color: $secondary-color;
          font-size: 0.9rem;
        }
      }
    }

    .map-container {
      flex: 1;
      .map {
        width: 100%; //
        background-size: cover;
        background-position: center;
        align-items: end;
      }
    }
  }

  .hero-buttom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 9rem;
    padding-top: 3rem;

    .trusted-brands {
      .trusted-text {
        font-size: 0.87rem;
        padding-bottom: 0.75rem;
      }

      .brands {
        display: flex;
        gap: 1rem;
      }
    }

    .mtn-video {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;

      .mtn-chief {
        display: flex;
        font-size: 1rem;
        text-align: end;
        width: 23rem;
        margin-right: 1.5rem;
      }

      .play-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0ba4db;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}
