<section>
  <div class="sub-container">
    <!-- Hero Section Info -->
    <div class="content">
      <p class="hero-text roboto-bold">
        Modern online and offline payments for Africa
      </p>
      <p class="hero-subtext roboto-regular">
        Paystack helps businesses in Africa get paid by anyone, anywhere in the
        world.
      </p>
      <div class="cta">
        <button class="btn-create">Create a free account</button>
        <a href="#" class="sales roboto-medium">Or Contact Sales</a>
      </div>
    </div>

    <!-- Background Image -->
    <div class="map-container">
      <img class="map" src="assets/Icons/worldmap.svg" alt="map" />
    </div>
  </div>

  <div class="hero-buttom">
    <div class="trusted-brands">
      <p class="roboto-medium trusted-text">
        Trusted by over 200,000 businesses
      </p>
      <div class="brands">
        <img src="assets/Icons/Dominos-Plain.svg.svg" alt="" />
        <img src="assets/Icons/MTN-Plain.svg.svg" alt="" />
        <img src="assets/Icons/Bolt.svg" alt="" />
        <img src="assets/Icons/Axa-mansard-Plain.svg.svg" alt="" />
      </div>
    </div>

    <div class="mtn-video">
      <p class="mtn-chief roboto-medium">
        Watch MTN Chief Transformation Officer, Olubayo Adekanmbi, discuss
        working with Paystack
      </p>
      <div class="play-icon-container">
        <a
          href="https://www.youtube.com/embed/aQ06f8vARhw?rel=0&amp;controls=0&enablejsapi=1&html5=1"
        >
          <img src="assets/Icons/play-icon.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>