<section class="hero-details-container">
  <div class="simple-text">
    <p class="text-1 roboto-medium">Simple, easy payments</p>
    <p class="roboto-regular text-2">
      Building a business is hard. Getting paid shouldn't be.
    </p>
  </div>

  <!-- Section-2 -->
  <div class="payment-collection-container">
    <div class="gif-container">
      <img
        class="animated-gif"
        src="assets/Icons/payment-collection.gif"
        alt="Payment-collections"
      />
    </div>

    <div class="text-container">
      <p class="roboto-bold delight">
        Delight customers with a seamless payments experience
      </p>
      <p class="delight-description roboto-regular">
        Give your customers the gift of modern, frictionless, painless payments.
        Integrate Paystack once and let your customers pay you however they
        want.
      </p>
      <div class="features-container">
        <img src="assets/Icons/features.svg" alt="" />
      </div>
      <div class="transaction-div">
        <p class="success-rate roboto-bold">
          Enjoy phenomenal transaction success rates
        </p>
        <p class="roboto-regular automatic-text">
          We automatically route payments through the most optimal channels,
          ensuring the highest transaction success rates in the market.
        </p>
        <div class="cta-findout">
          <img src="assets/Icons/caret.svg" alt="" />
          <p class="cta-findout-text">
            <a href="#">Find out how we achieve high success rates</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Section  2-->

  <div class="api-container">
    <div class="api-text-holder">
      <p class="roboto-bold text-h1">
        Build custom payments experiences with well- documented APIs
      </p>
      <p class="roboto-regular text-h3">
        Developers love our thorough, well-documented APIs that let you to build
        everything from simple weekend projects, to complex financial products
        serving hundreds of thousands of customers. If you can imagine it, you
        can build it with Paystack.
      </p>
      <div>
        <img src="assets/Icons/api-features.svg" alt="" />
      </div>

      <div class="paystack-container">
        <img src="assets/Icons/caret.svg" alt="" />
        <p class="quickstart">
          <a href="#">Paystack API Quickstart</a>
        </p>
      </div>
    </div>

    <div>
      <img src="assets/Icons/api-opt.svg" alt="" />
    </div>
  </div>

  <!-- Section 3-->

  <div class="protection-text">
    <div class="protection-text1">
      <p class="roboto-bold protect-yourself">
        Protect yourself and your customers with advanced fraud detection
      </p>
      <p class="roboto-regular combination">
        Paystack&apos;s combination of automated and manual fraud systems
        protect you from fraudulent transactions and associated chargeback
        claims.
      </p>

      <p class="roboto-bold reconciliation">
        Detailed reporting for accounting, reconciliation, and audits
      </p>
      <p class="roboto-regular customer">
        Understand your customers&apos; purchase patterns and do easy
        reconciliations with a robust data Dashboard and easy exports.
      </p>
    </div>
  </div>
</section>
