<section>
  <div class="text-container">
    <p class="roboto-bold text-h1">Powering growth for amazing businesses</p>
    <p class="roboto-regular text-h3">
      Paystack is a growth engine for a new generation of innovative,
      forward-looking organizations operating in Africa.
    </p>
  </div>

  <div class="brand-logo">
    <img src="assets/Icons/air-peace.svg" alt="air-peace" />
    <img src="assets/Icons/filmhouse.svg" alt="filmhouse" />
    <img src="assets/Icons/piggyvest.svg" alt="piggyvest" />
    <img src="assets/Icons/ibom-air.svg" alt="ibom-air" />
    <img src="assets/Icons/Kudda.svg" alt="Kudda" />
    <img src="assets/Icons/Ariiya.svg" alt="Ariiya" />
    <img src="assets/Icons/Dominos-Plain.svg.svg" alt="Dominos" />
    <img src="assets/Icons/MTN-Plain.svg.svg" alt="MTN-Plain" />
    <img src="assets/Icons/LIRS.svg" alt="LIRS" />
    <img src="assets/Icons/Bolt.svg" alt="Bolt" />
    <img src="assets/Icons/Betway.svg" alt="Betway" />
    <img src="assets/Icons/carbon.svg" alt="carbon" />
    <img src="assets/Icons/Axa-mansard-Plain.svg.svg" alt="Axa-mansard" />
    <img src="assets/Icons/ABSU.svg" alt="Abia State University" />
    <img src="assets/Icons/GIGM.svg" alt="God is Good Motors" />
    <img src="assets/Icons/IrokoTV.svg" alt="IrokoTV" />
    <img src="assets/Icons/Smile.svg" alt="Smile" />
    <img src="assets/Icons/Cowrywise.svg" alt="Cowrywise" />
  </div>
</section>
