<section>
  <!-- <img class="bg-circle" src="assets/Icons/circle-bg.svg" alt="" /> -->
  <div class="container">
    <div class="header-text">
      <p class="roboto-bold text-h1">Backed by strong global partners</p>
      <p class="roboto-regular text-h3">
        Paystack is backed by notable investors as well as some of the best
        payments companies on the planet.
      </p>
    </div>

    <!-- Cards -->
    <div class="card-container">
      <!-- Card 1 -->
      <div class="card-1">
        <div class="card-subcontainer">
          <img src="assets/Icons/Stripe.svg" alt="" />
          <p class="card-text roboto-regular">
            Paystack is highly technical and fanatically customer oriented.
            We&apos;re excited to back such people in one of the world&apos;s
            fastest-growing regions.
          </p>
          <div class="author-card">
            <div class="author-img-card">
              <img
                class="authors-img"
                src="assets/Icons/patrick-collison-headshot.svg"
                alt=""
              />
            </div>
            <div class="authors">
              <p class="roboto-regular authors-name">Patrick Collison</p>
              <p class="roboto-regular authors-designation">CEO, Stripe</p>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card-subcontainer">
          <img src="assets/Icons/Visa.svg" alt="" />
          <p class="card-text roboto-regular">
            Our investment in Paystack aligns with the kind of investments we
            look for - those that will help extend our reach into the global
            commerce ecosystem
          </p>
          <div class="author-card">
            <div class="author-img-card">
              <img
                class="authors-img"
                src="assets/Icons/otto-williams.svg"
                alt=""
              />
            </div>
            <div class="authors">
              <p class="roboto-regular authors-name">Otto Williams</p>
              <p class="roboto-regular authors-designation">
                Head of Strategic Partnerships, Fintech & Ventures CEMEA, Visa
              </p>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card-subcontainer">
          <img src="assets/Icons/ycombinator.svg" alt="" />
          <p class="card-text roboto-regular">
            As YC&apos;s first Nigerian startup Paystack leads the charge of
            great companies coming out of Africa, powering modern payments for
            an entire continent.
          </p>
          <div class="author-card">
            <div class="author-img-card">
              <img
                class="authors-img"
                src="assets/Icons/michael-siebel-headshot.svg"
                alt=""
              />
            </div>
            <div class="authors">
              <p class="roboto-regular authors-name">Michael Seibel</p>
              <p class="roboto-regular authors-designation">
                CEO, Partner, Y Combinator
              </p>
            </div>
          </div>
        </div>

        <!-- Card End -->
      </div>
    </div>
  </div>
</section>
