<section>
  <!-- <img class="bg-circle" src="assets/Icons/circle-bg.svg" alt="" /> -->
  <div class="container">
    <div class="header-text">
      <p class="roboto-bold text-h1">Backed by strong global partners</p>
      <p class="roboto-regular text-h3">
        Paystack is backed by notable investors as well as some of the best
        payments companies on the planet.
      </p>
    </div>

    <!-- Cards -->
    <div>
      <!-- Card 1 -->
      <div class="card-1">
        <img src="assets/Icons/Stripe.svg" alt="" />
        <p>
          Paystack is highly technical and fanatically customer oriented.
          We&apos;re excited to back such people in one of the world&apos;s
          fastest-growing regions.
        </p>
        <div>
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <p>Patrick Collison</p>
            <p>CEO, Stripe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
