<section>
  <!-- First segment of the Session -->
  <div class="container">
    <div class="footer-content">
      <!-- footer session 1 -->
      <div class="why-paystack">
        <div class="roboto-regular paystack">
          <p class="header-text roboto-medium">Why Paystack</p>
          <p>Why Choose Paystack</p>
          <p>Success Rate</p>
        </div>

        <div class="roboto-regular entrepreneurs">
          <p>For Entrepreneurs</p>
          <p>For Corporate</p>
          <p>For International Companies</p>
          <p>For StartUp</p>
        </div>

        <div class="roboto-regular institutions">
          <p>For Fintechs</p>
          <p>For School</p>
          <p>For Betting</p>
        </div>
      </div>

      <!-- session 2 -->
      <div class="pricing-list">
        <div class="pricing roboto-regular country">
          <p class="header-text roboto-medium">Pricing</p>
          <p>Nigeria</p>
          <p>Ghana</p>
          <p>South Africa</p>
        </div>

        <div class="roboto-regular customer">
          <p class="header-text roboto-medium">Customer</p>
          <p>Testimonials</p>
        </div>

        <div class="roboto-regular blog">
          <p class="header-text roboto-medium">Learn</p>
          <p>Blog</p>
          <p>Guides</p>
          <p>Video Tutorial</p>
          <p>Decode Fintech</p>
          <p>Commerce</p>
          <p>Terminal</p>
        </div>
      </div>

      <!-- Session 3 -->
      <div class="developer">
        <div class="documentation roboto-regular">
          <p class="header-text roboto-medium">Developers</p>
          <p>Overview</p>
          <p>Documentation</p>
          <p>Integration</p>
          <p>Status Page</p>
        </div>

        <div class="roboto-regular">
          <p class="header-text roboto-medium">Community</p>
          <p>Nigeria Lagos</p>
        </div>

        <div class="roboto-regular support-content">
          <p class="support roboto-medium">Support</p>
          <p>Help Desk</p>
          <p>Contact Us</p>
          <p>Why was I debited</p>
        </div>
      </div>

      <!-- Session 4 -->
      <div class="roboto-regular">
        <p class="header-text roboto-medium">About</p>
        <div class="about">
          <p>Company</p>
          <p>Subscriber</p>
          <p>Compliance</p>
          <p>Career</p>
          <p>Media Kit</p>
          <p>Privacy & Terms</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second footer session -->

  <div class="footer-final">
    <div class="roboto-regular contact">
      <p class="roboto-medium contact-h1">Contact</p>
      <p class="email">hello&#64;paystack.com</p>
      <div class="social-icons">
        <img src="assets/Icons/Facebook.svg" alt="Facebook Icons" />
        <img src="assets/Icons/Twitter.svg" alt="Twitter Icons" />
        <img src="assets/Icons/Instagram.svg" alt="Instagram Icons" />
        <img src="assets/Icons/Linkedin.svg" alt="Linkedin Icons" />
        <img src="assets/Icons/Youtube.svg" alt="Youtube Icons" />
      </div>
    </div>

    <div class="lagos-accra">
      <div class="roboto-regular lagos-address">
        <p class="roboto-medium lagos-locale">Lagos</p>

        <p>126 Joel Ogunnaike Street, Ikeja GRA, Ikeja, Lagos, Nigeria</p>
        <p class="contact-number">+234 163 16160</p>
      </div>

      <div class="accra-address">
        <p class="roboto-medium accra">Accra</p>
        <p class="roboto-regular accra-locale">
          AfricaWorks, 35 Patrice Lumumba Road, Airport Residential Area, Accra,
          Ghana
        </p>
      </div>
    </div>

    <div class="san-francisco-dubai">
      <div class="san-francisco">
        <p class="sf-place roboto-medium">San Francisco</p>
        <p class="san-francisco-address roboto-regular">
          354 Oyster Point Blvd., South San Francisco, CA 94080 United States
        </p>
      </div>

      <div class="dubai">
        <p class="dubai-place roboto-medium">Dubai</p>
        <p class="dubai-office-address roboto-regular">
          Office 215, Building 3, Dubai Internet City, Dubai, United Arab
          Emirates
        </p>
      </div>
    </div>

    <div class="SA-branch">
      <div class="capTown">
        <p class="roboto-medium captown-place">Cape Town</p>
        <p class="roboto-regular capTown-address">
          Wework (1st Floor), 80 Strand Street, Cape Town City Centre, Cape
          Town, 8001, South Africa
        </p>
      </div>

      <div class="johannesburg-place" >
        <p class="roboto-medium SA-address-2">Johannesburg</p>
        <p class="roboto-regular johannesburg-address ">45 Kingfisher Drive, Fourways, Johannesburg, South Africa</p>
      </div>
    </div>
  </div>
</section>
